[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

jupyterlab = "*"
openfisca-france = "*"
altair = "*"
pandas = "*"
openfisca-matplotlib = {git = "https://github.com/openfisca/openfisca-matplotlib.git"}
ipywidgets = "*"


[dev-packages]



[requires]

python_version = "2.7"
